body
{
  background-color: #FBF9F2;
  font-family: 'Kanit', sans-serif;
  overflow-x : hidden;
  height: 100%;
}
html
{
  overflow-x : hidden;
}
section
{
  margin-bottom: 6rem;
}
h1,h2,h3,h4
{
  color:white;
  font-size: 2.5rem;
  font-weight: 600;
}
h1
{
  font-size: 2.8rem;
}
h3
{
  font-size: 1.5rem;
}
h4
{
  font-size: 1.5rem;
  color: #676565;
  font-weight: 500;
}
p
{
  font-size: 1.2rem;
}
nav
{
  position: fixed;
  margin: auto;
  top:5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FBF9F2;
  height: 6rem;
  width: 100%;
}
nav-flex
{
  position:fixed;
}
nav #nav-logo
{
  float: left;
  margin-left: 1.2rem;
  margin-top: 0.5rem;
  width: 9rem;
}
nav ul
{
  float: right;
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin:auto;
  align-items:flex-end;
  font-size: 1.2rem;
  margin-top: 2.2rem;
  margin-right: 4rem;
}
nav li
{
  color :black;
  font-weight: 600;
}
.nav-list li:hover
{
  color: gray;
}
nav-list
{
  margin: 0;
}
.nav-list img
{
  width: 80%;
}
main
{
  margin-top: 6rem;
}
.home-banner
{
  position: relative;
  width: 100%;
  min-height: 20rem;
}
.home-bg
{
  position: absolute;
  background-image: url(./img/home-bg.png);
  height: 200%;
  width: 100%;
  z-index: -1;
}
.home-main
{
  color:white;
  font-size: 2.5rem;
  margin-left:10rem;
  margin-top: -14rem;
}
.home-main2
{
  margin-top: 5rem;
  text-align: center;
}
.home-sub
{
  margin-top: 1.5rem;
}
.home-button
{
  text-align: center;
  margin-top:3.2rem;
  margin-bottom: 15.3rem;
}
.button
{
  font-size: 2.3rem;
  color: white;
  padding : 0.8rem 2.5rem;
  border: white 3px solid;
  border-radius: 35px;
  text-align: center;
}
.button:hover
{
  background-color: white;
  color:black;
  transition: 0.5s;
  border: black 3px solid;
  text-decoration: none;
}
.home-about
{
  display: flex;
  width:85%;
  justify-content: space-between;
  margin-right: 5px;
  margin: auto;
  flex-direction: row;
}
#calendar-pic
{
  width:60%;
  margin-left:5rem
}
.home-how
{
  display: flex;
  width:85%;
  justify-content: space-between;
  margin-right: 5px;
  margin: auto;
  flex-direction: row;
}
.home-how2
{
  display: flex;
  width:100%;
  justify-content: space-between;
  margin-right: 5px;
  margin: auto;
  flex-direction: row;
  background-color: #e95d55;
  padding: 2rem;
}
#building
{
  width: 78%;
  min-width: 300px;
}
.about-text
{
  color:black;
  text-align: left; 
}
.about-text2
{
  color:white;
  text-align: left; 
}
.about-column1
{
  flex:1;
  margin-right: 40px;
}
.text-center
{
  text-align: center;
}
.about-column2
{
  flex:1;
}
hr
{
  float : left;
  width: 15%;
  border: 5px solid #6ca4cf;
}
section h3
{
  color:black;
}
.nav-btn
{
  display: none;
}
.admin-bg
{
  background-color: #F73E17;
}
.nav-mobile-hide,.nav-mobile
{
  display:none;
}
#login-pic
{
  margin-top: -0.5rem;
  width: 90%;
  min-width: 40%;
}
.login-box
{
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 13%;
}
.login-flex1
{
  flex:1;
  background-color: white;
  padding: 5rem;
  border-radius: 2rem;
  margin-right: -1.5rem;
}
.login-flex2
{
  flex:1;
  
}
.auto-btn
{
  margin-left: 3rem;
  background-color: #F73E17;
  color:white;
  font-size: 1.3rem;
}
.login-font2
{
  color :#e95d55;
  font-weight: 500;
  margin-bottom: 2rem;
}
.login-input
{
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding:0.2rem;
  padding-left: 3rem;
  border : #676565 1px solid;
}
.login-btn
{
  width: 100%;
  background-color: #e95d55;
  padding: 0.2rem 20%;
  border-radius: 2rem;
  color: white;
}
.login-btn:hover
{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.5s;
}
.login-wrong
{
  color :red;
  font-size: 1rem;
}
.calendar
{
  width: 20rem;
  margin-top: 4rem;
  margin-left: 5rem;
}
#circle1
{
  position: absolute;
  left: -20%;
  top:-30%;
  z-index: -1;
}
.generate-table
{
  margin-top: 3rem;
  margin-left: 5rem;
}
#circle2
{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
.error-page
{
  height: 59rem;
  background-color: #1a3246;
  z-index: -2;
  display: flex;
  flex-direction: column;
}
.error-page img
{
  margin-top: 10%;
  margin-bottom: -8%;
  margin-left: 35%;
  width: 30%;
}
.reserve-font
{
  color:black;
}
.reserve-list
{
  width: 60%;
  text-align: center;
}
.reserve
{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.reserve-flex1
{
  flex:1;
  display: flex;
  flex-direction: column;
  background-color: #344f65;
}
.disable
{
  color:gray;
  border: none;
}
.reserve-btn
{
  margin-top: 2rem;
  margin-left: 30%;
  width: 60%
}
.reserve-btn2
{
  width: 100%
}
.reserve-flex2
{
  flex:6;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.admin-table
{
  margin-top: 2rem;
}
.admin-flex2
{
  flex:6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.admin-input
{
    margin-left: 1rem;
    text-align: center;
}
.history-flex2
{
  flex:8;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -3rem;
}
.reserve-flex3
{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:5rem;
  margin-right: 5rem;
  justify-items: center;
}
.reserve-available
{
  color : green;
  font-weight: bold;
}
.reserve-unavailable
{
  color:red;
  font-weight: bold;
}
.reserve-already
{
  color : orange;
  font-weight: bold;
}
table,th,td
{
  margin-top: 2rem;
  border :1px black solid;
  font-size: 1.3rem;
}
.reserve-font
{
  margin-top: 5rem;
}
th,td{
  padding: 0.2% 1.6rem;
}

.reserve h3
{
  color: black;
}
.admin-font
{
  font-size: 1.2rem;
}
.reserve-menu
{
  background-color: #344f65;
  color:white;
  width: 13rem ;
  padding: 1.7rem 0.9rem;
  margin-bottom: 0.1rem;
  font-size: 1.1rem;
  border-bottom: #FBF9F2 1px solid ;
}
.admin-menu
{
  background-color: #F73E17;
  color:white;
  width: 18rem;
  padding: 1.7rem 1.2rem;
  padding-left: 4rem;
  margin-bottom: 0.1rem;
  font-size: 1.1rem;
  border-bottom: #FBF9F2 1px solid ;
}
.reserve-menu-space
{
  background-color: #344f65;
  height: 35rem;
}
.admin-menu-space
{
  background-color: #F73E17;
  height: 35rem;
}
.error-page #circle1,#circle2
{

  z-index: -1;
}
nav
{
  width: 100%;
}
table
{
  width: 60%;
  margin: auto;
}
.generate-table
{
  margin:auto;
  margin-top: 3rem;
}
.small
{
  font-size: 1.5rem;
}
.contact-font h2
{
  color: #1a3246;
}
.contact-font
{
  position: absolute;
  left: 50%;
  top:25%;
  text-align: center;
  width: 100%;
  margin-left: -50%;
}
@media(max-width:1300px)
{
  .reserve-font
  {
    font-size: 1.4rem
  }
  th,td{
    padding: 0.2% 1rem;
  }
  .reserve
  {
    flex-direction: column;
  }
  .reserve-flex1
  {
    height: 100%;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  
  .reserve-menu-space
  {
    display: none;
  }
  .reserve-menu
  {
    background-color: #344f65;
    color:white;
    width: 5rem ;
    padding: 1.7rem 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 1rem;
    border-bottom: hidden;
  }
  .admin-flex1
  {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  
  .admin-menu-space
  {
    display: none;
  }
  .admin-menu
  {
    width: 5rem ;
    padding: 1.7rem 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 1rem;
    border-bottom: hidden;
  }
}
@media (max-width:880px)
{
  #building
  {
    margin-top: 3rem;
  }
  .reserve
  {

    flex-direction: column;
  }
  .reserve-flex1
  {
    height: 100%;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  
  .reserve-menu-space
  {
    display: none;
  }
  .reserve-menu
  {
    background-color: #344f65;
    color:white;
    width: 5rem ;
    padding: 1.7rem 0.9rem;
    margin-bottom: 0.1rem;
    font-size: 1.1rem;
    font-size: 1rem;
    border-bottom: hidden;
  }
  th,td{
    padding: 0.2% 0.2rem;
    font-size: 0.8rem;
  }
  .reserve-font
  {
    font-size: 1.7rem;
  }
  .reserve-flex2
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  table
  {
    width: 70%;
    margin: auto;
  }
  nav
  {
    width: 100%;
  }
  nav #nav-logo
  {
    margin-top: 1.3rem;
    width: 7rem;
  }
  h1
  {
    font-size: 2.4rem;
  }
  h3
  {
    font-size: 1.1rem;
  }
  h4
  {
    font-size: 1.1rem;
    color: #676565;
    font-weight: 500;
  }
  .login-box
  {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 25%;
    flex-direction: column;
    text-align: center;
  }
  .login-flex1
  {
    margin-right: 0rem;
  }
  .login-flex1 h2
  {
    font-size: 1.8rem;
  }
  #circle1
  { 
    left: -50%;
    width: 144%;
    max-width: 50rem;
  }
  #circle2
  {
    right: 0%;
    width: 80%;
    max-width: 50rem;
    bottom: -10rem;
  }
  .login-box
  { 
    margin-top: 50%;
  }
  .login-flex2
  {
    display:none;
    
  }
  .small
  {
    font-size: 1.1rem;
  }

  .nav-mobile-hide
  {
    display:none;
  }
  .nav-mobile
  {
    margin: auto;
    display: unset;
    width: 100%;
    cursor: pointer;
  }
  .nav-mobile ul
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background-color: black;
  }
  .nav-mobile li
  {
    color: white;
    margin: 1rem 0rem;

  }
  .nav-btn
  {
    display: unset;
    position: absolute;
    width: 3rem;
    right: 2rem;
    top:1.8rem;
  }
  .nav-list
  {
    display: none;
  }
  nav li
  {
    width: 100%;
  }
  .home-main
  {
    display : none;
    margin-top: -15rem;
  }
  .home-about,.home-how,.home-how2
  {
    display :block;
  }
  .home-bg
  {
    position: absolute;
    background-image: url(./img/home-bg.png);
    height: 40rem;
    width: 100%;
    z-index: -1;
  }
  
  .home-banner
  {
    position: relative;
    width: 100%;
    min-height: 5rem;
  }
  .about-column2
  {
    margin-top: 1.2rem;
    flex:1;
  }
  .login-font2{
    width: 140%;
    margin-left: -20%;
  }
  nav ul
  {
    margin-right: 0rem;
    margin-top:  0.8rem;
    padding-left: 0rem;
    text-align: center;
  }
  .login-input
  {
    width: 130%;
    margin-left: -15%;
  }
}